@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 80px; /* Adjust this value based on your Nav height */
}

html,
body {
  background-color: #0B101B;
  color: white;
  margin: 0;
  padding: 0;
}

.bg-stars::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/assets/images/bg-stars.svg');
  background-repeat: repeat;
  background-size: 400px;
  opacity: 0.05;
  z-index: 0;
  pointer-events: none;
}
